[submodule "vendor/github.com/reconquest/import.bash"]
	path = vendor/github.com/reconquest/import.bash
	url = https://github.com/reconquest/import.bash
[submodule "vendor/github.com/reconquest/test-runner.bash"]
	path = vendor/github.com/reconquest/test-runner.bash
	url = https://github.com/reconquest/test-runner.bash
[submodule "vendor/github.com/reconquest/shdoc"]
	path = vendor/github.com/reconquest/shdoc
	url = https://github.com/reconquest/shdoc
